@page "{id:Guid}"
@model AltaP.Pages.Products.EditProductModel
@{
    ViewData["Title"] = "Edit Product";
}

<div class="row">
    <div class="col-md-12">
        <a asp-page=@PageReference.PRODUCTS_ALL class="btn btn-secondary float-end">Volver</a>
    </div>
</div>

<h2 class="mt-4">Editar producto</h2>

<div class="row">
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <div class="form-group mt-3">
            <label asp-for="Product.Name" class="control-label"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="form-group mt-3 ml-0">
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
